* {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

#surveyContainer {
  color: black;
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
}

#sq_103, #sq_101i {
  background: #69A297;
}

.sd-container-modern {
  background-color: #A3C9A8;
}

.sd-btn, .sd-action-bar {
  display: flex;
  justify-content: center;
}
